<div class="container">
  <form class="sign-up" novalidate>
    <h2>Registre-se</h2>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="user.email" name="username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="user.password" name="pass"/>
    </mat-form-field>    

    <button mat-raised-button color="primary">
      Criar Conta
    </button>

    <a class="sing-in-link" [routerLink]="['/login']">
      Já tem uma conta? faça o login
    </a>
  </form>
</div>
