.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--toolbar-color);
  padding: 0 10px;

  .menu-container {
    list-style: none;
    list-style-type: none;    
    width: 100%;    
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}