.app-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background-color: var(--toolbar-color);
  padding: 0px 5px 0px 10px;
  justify-content: space-between;

  .bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 5px 0;
  }

  .menu {
    list-style: none;
    list-style-type: none;    
    width: 100%;    
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .logo {
    width: 180px;
    margin-right: 0.8rem;
  }
}

.right-actions {
  display: flex;
  flex-direction: row;  
}

.user {
  color: var(--text-white);
  display: flex;
  flex-direction: row;
  padding: 0.2rem;

  span {
    margin-right: 0.5rem;
  }

  .avatar {
    border-radius: 50%;
    width: 40px;
  }
}

.btn-menu {
  display: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .menu { display: none !important; }

  .btn-menu {
    display: block;
  }

  .user {
    span {
      display: none;
    }
  }
}
