$accent-color:  #0275d8;
$accent-color-dark: #fafafa;

$text-color: #232323;
$text-color-dark: #fafafa;

$text-white: #fafafa;
$text-white-dark: #fafafa;

$background: #fafafa;
$background-dark:  #5c5c5c;

$toolbar-color:  #0275d8;
$toolbar-color-dark: #232323;

$toolbar-hover-color: #01447e;
$toolbar-hover-color-dark: #494949;

$toolbar-text-color: $toolbar-color-dark;
$toolbar-text-color-dark: $toolbar-color;

$card-background: #fafafa;
$card-background-dark: #494949;
$card-border: #eee;
$card-border-dark: #5c5c5c;

$danger-bg-color: #ffdfe5;
$danger-color: #f0506e;

$danger-bg-color-dark: #ffdfe5;
$danger-color-dark: #f0506e;


$colors: (
  --accent-color: ($accent-color, $accent-color-dark),
  --toolbar-color: ($toolbar-color, $toolbar-color-dark),
  --toolbar-hover-color: ($toolbar-hover-color, $toolbar-hover-color-dark),
  --toolbar-text-color: ($toolbar-text-color, $toolbar-text-color-dark),
  --card-background: ($card-background, $card-background-dark),
  --card-border: ($card-border, $card-border-dark),
  --text-color: ($text-color, $text-color-dark),
  --background: ($background, $background-dark),
  --button-color: ($accent-color, $toolbar-color-dark),
  --danger-bg-color:($danger-bg-color, $danger-bg-color-dark),
  --danger-color:($danger-color, $danger-color-dark),
  --text-white:  ($text-white, $text-white-dark)
)