/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,700;1,400&family=Poppins:wght@200;300&family=Roboto&display=swap');

@import 'styles/colors';
@import 'styles/themes';
@import 'styles/animations';


*, body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
}

button {
  font-family: 'Archivo', Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: var(--button-color);
  color: #FFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  padding: 1rem;
}

.card {
  padding: 16px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  background-color: var(--card-background);
}