<li>
  <a *ngIf="!hasSubItems()" [routerLink]="route">{{label}}</a>

  <ng-container  *ngIf="hasSubItems()">
    <a  (click)="toogleSubmenu()">{{label}}</a>

    <ul
      *ngIf="subVisible"
      class="submenu"
      [@overlayAnimation]="{ value: 'subVisible' }"
      (@overlayAnimation.start)="onAnimationStart($event)"
      (click)="preventDocumentDefault = true"      
    >
      <ng-template ngFor let-menu [ngForOf]="subItems">
        <li (click)="onSubItemClick()">
          <a [routerLink]="menu.route">{{menu.label}}</a>
        </li>
      </ng-template>
    </ul>
  </ng-container>
</li>